# ===============================
# PyTorch CPU ONLY (WAJIB PALING ATAS)
# ===============================
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.5.1+cpu

# ===============================
# Web API
# ===============================
fastapi
uvicorn[standard]
pydantic

# ===============================
# Database
# ===============================
sqlalchemy
psycopg[binary]

# ===============================
# HTTP & Scheduler
# ===============================
requests
apscheduler

# ===============================
# ML / Vector
# ===============================
numpy
pandas
scikit-learn
joblib
sentence-transformers
faiss-cpu
regex

# ===============================
# Data IO (HEAVY)
# ===============================
openpyxl
pyarrow
fastparquet

# ===============================
# LLM API
# ===============================
groq
